.sudoku {
  display: grid;
  grid-template-columns: repeat(9, 33px);
  grid-auto-rows: 33px;
  grid-gap: 8px;
}

.sudoku > div {
  border: 1px solid #777;
  text-align: center;
  line-height: 31px;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
}

.rest-digits {
  display: grid;
  grid-template-columns: repeat(3, 10px);
  grid-auto-rows: 10px;
}

.rest-digits > div {
  font-size: 0.4em;
  text-align: center;
  line-height: 11px;
}

.sudoku > div:nth-child(28):after,
.sudoku > div:nth-child(55):after
 {
    content: "";
    width: 360px;
    height: 2px;
    position: absolute;
    top: -5px;
    left: 0;
    background-color: #000;
    
}

.sudoku > div:nth-child(4):after,
.sudoku > div:nth-child(7):after
 {
    content: "";
    width: 2px;
    height: 360px;
    position: absolute;
    top: 0px;
    left: -5px;
    background-color: #000;
    
}

.sudoku .digit-error {
    color: red;
    font-weight: bold;
    border: 1px solid red;
    background-color: #ffe2e5;}